*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    overflow: hidden;
    background-color: cornflowerblue;
} 
.wrapper{
    max-width: 405px;
    margin: 135px auto;
    background: aliceblue;
    border-radius: 7px;
    padding:28px 0;
    position: relative;
}
.task-input{
    height: 52px;
padding: 0 25px;
}
.task-input input{
    height: 100%;
    width:100;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #999;
    padding: 0 20px 0 53px;
}
.task-input input::placeholder{
    color: chocolate;
}
.controls, li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.controls{
   
    padding:17px 25px;
    border-bottom: 1px solid #ccc;
}
.filters span{
    margin: 0 8px;
    font-size: 17px;
}
.filters span.active{
color: blue;
}
.filters span:first-child{
    margin-left: 0;
}
.controls .clear-btn{
    outline: none;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    background: cornflowerblue;
    font-size: 13px;
    padding: 8px 14px;
}
.task-box{
    margin: 20px 25px;
}
.task-box .task{
    list-style: none;
    font-size: 17px;
    margin-bottom: 15px;
    border-bottom: 12px;
}
.task label{
    display: flex;
}
.task-input{
    margin-top: 5px;
    margin-right: 10px;
}
.task .settings{
    cursor: pointer;
}

